{% extends 'core/base.html' %}

{% block title %}
    Crear Usuario
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <h1 class="titulo">Crear Usuario</h1>
        <div class="form-signup-container">
            <form method="post" enctype="multipart/form-data" class="form-signup">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="link">Guardar</button>
            </form>
        </div>
        <div class="volver-container">
            <a href="{% url 'core:index' %}" class="volver">Volver</a>
        </div>
    </main>
{% endblock content %}