{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/kinef_logo1.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Inicio de Sesión o Registro</title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main-login">
        <section class="container-login" id="container_login">
            <button class="inicio" id="inicio">Iniciar Sesion</button>
            <form id="login-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nombre de usuario" required />
                <input type="password" name="password" placeholder="Contraseña" required />
                <button type="submit" class="boton-login">Iniciar sesión</button>
            </form>
        </section>
        <section class="container-signup" id="container_signup">
            <button class="registrarse" id="registrarse">Registrarse</button>
            <div id="container_register-form" class="container-register-form">
                <div id="errores_password">
                </div>
                <form id="register-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nombre de Usuario" required />
                    <input type="password" name="password" placeholder="Contraseña" id="password" required />
                    <input type="password" name="password2" placeholder="Repite la contraseña" id="password2" required />
                    <input type="text" name="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellido" placeholder="Apellido" required>
                    <input type="email" name="mail" placeholder="Mail" required>
                    <input type="text" name="dni" placeholder="DNI" required />
                    <input type="date" name="fecha_nacimiento" required />
                    <input type="text" name="telefono" placeholder="Teléfono" required />
                    <input type="text" name="domicilio" placeholder="Domicilio" required />
                    <input type="text" name="instagram" placeholder="Instagram" />
                    <input type="file" name="foto">
                    <button type="submit" class="boton-login">Registrar</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'usuarios/scripts/user-management.js' %}"></script>
</body>
</html>