{% extends 'core/base.html' %}

{% block title %}
    Lista de usuarios
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <h1 class="titulo">Lista de Usuarios</h1>
        <div class="busqueda-container">
            <form action="{% url 'usuarios:usuarios_list' %}" method="get">
                <input type="text" name="busqueda" placeholder="Buscar usuario">
            </form>
        </div>
        <div class="card-usuario-container">
            {% for object in usuarios %}
                <div class="card-usuario">
                    <p class="nombre">{{object.user.username}}</p>
                    {% if object.foto %}
                        <img src="{{ object.foto.url }}" alt="Foto de {{ object.user.username }}" width="" height="" class="foto-usuario">
                    {% else %}
                        <p class="foto-usuario-no">No hay foto</p>
                    {% endif %}
                    <div class="crud-container">
                        <a href="{% url 'usuarios:usuarios_detail' object.id %}" class="crud">Detalles</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'usuarios:signup' %}" class="link">Cargar Usuario</a>
        </div>
        <div class="volver-container">
            <a href="{% url 'usuarios:index' %}" class="volver">Volver</a>
        </div>
    </main>
{% endblock content %}