{% extends 'core/base.html' %}

{% block title %}
    Editar Usuario
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <h1 class="titulo">Editar Usuario</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Guardar</button>
        </form>
        <div>
            <a href="{% url 'usuarios:usuarios_list' %}">Volver</a>
        </div>
    </main>
{% endblock content %}