{% extends 'core/base.html' %}

{% block title %}
    Administración
{% endblock title %}

{% block content %}
    <div class="administracion-main">
        <h1>Administración</h1>
        <ul>
            <a href="{% url 'administracion:horas' %}" class="boton-basico">Horas</a>
            <a href="{% url 'administracion:gastos' %}" class="boton-basico">Gastos</a>
            <a href="{% url 'administracion:pagos' %}" class="boton-basico">Pagos</a>
            <a href="{% url 'administracion:usuarios' %}" class="boton-basico">Usuarios</a>
            <a href="{% url 'administracion:cargar_usuarios' %}" class="boton-basico">Cargar Usuario</a>
        </ul>
    </div>
{% endblock content %}