{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/kinef_logo1.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Horas</title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <div class="administracion-main">
            <h1>Administración</h1>
            <ul>
                <a href="{% url 'administracion:horas' %}" class="boton-basico">Horas</a>
                <a href="{% url 'administracion:gastos' %}" class="boton-basico">Gastos</a>
                <a href="{% url 'administracion:pagos' %}" class="boton-basico">Pagos</a>
                <a href="{% url 'administracion:usuarios' %}" class="boton-basico">Usuarios</a>
            </ul>
        </div>
        <div class="horas-main">
            <h2>Horas</h2>
            <div class="form-horas-contenedor">
                <button class="boton-basico" id="cargar_horas">Cargar horas</button>
                <form id="horas_form" class="horas-form">
                    {% csrf_token %}
                    <select name="usuario" id="usuario">
                        <option value="">Usuario</option>
                    </select>
                    <input type="date" name="dia" required>
                    <input type="number" name="horas" maxlength="3" placeholder="Horas" required>
                    <button type="submit" class="boton-cargar" id="boton_cargar">Cargar</button>
                </form>
            </div>
        </div>
        <div class="horas-cargadas-contenedor">
            <div class="botones-horas">
                <button id="mostrar_horas" class="boton-basico">Mostrar historial de horas</button>
                <button id="mostrar_horas_sumadas" class="boton-basico">Ver horas este mes</button>
            </div>
            <div id="horas_cargadas" class="horas-cargadas"></div>
            <div id="horas_sumadas" class="horas-cargadas"></div>
        </div>
        <div class="boton-atras-contenedor">
            <a href="{% url 'administracion:administracion' %}" class="boton-basico"><strong>←</strong></a>
        </div>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'administracion/scripts/horas.js' %}"></script>
</body>
</html>