{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/kinef_logo1.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Pagos</title>
</head>
<body>
    <nav>
        {% include 'core/components/navbar.html' %}
    </nav>
    <h1>Pagos</h1>
    <div>
        <a href="{% url 'administracion:administracion' %}" class="boton-basico">Atrás</a>
    </div>



    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'administracion/scripts/pagos.js' %}"></script>
</body>
</html>