{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/kinef_logo1.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Usuarios</title>
</head>
<body>
    <nav class="navbar">
        {% include 'core/components/navbar.html' %}
    </nav>
    <main class="contenedor-main">
        <div class="administracion-main">
            <h1>Administración</h1>
            <ul>
                <a href="{% url 'administracion:horas' %}" class="boton-basico">Horas</a>
                <a href="{% url 'administracion:gastos' %}" class="boton-basico">Gastos</a>
                <a href="{% url 'administracion:pagos' %}" class="boton-basico">Pagos</a>
                <a href="{% url 'administracion:usuarios' %}" class="boton-basico">Usuarios</a>
            </ul>
        </div>
        <div class="usuarios-main">
            <h2>Usuarios</h2>
            <input type="search" id="buscar_usuario" class="buscar-usuario" placeholder="Buscar usuario">
            <div id="usuarios_cargados" class="usuarios-cargados"></div>
        </div>
        <div class="boton-atras-contenedor">
            <a href="{% url 'administracion:administracion' %}" class="boton-basico">Atrás</a>
        </div>
    </main>
    <footer class="footer">
        {% include 'core/components/footer.html' %}
    </footer>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'administracion/scripts/usuarios.js' %}"></script>
</body>
</html>