{% extends 'core/base.html' %}

{% block title %}
    Horas
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <div>
            <a href="{% url 'horas:horas_create' %}">Cargar horas</a>
        </div>
        <div class="busqueda">
            <form action="{% url 'horas:horas_list' %}" method="get">
                <input type="text" name="busqueda" placeholder="Buscar horas">
            </form>
        </div>
        <div class="card-pagos-container">
            {% for object in object_list %}
                <div class="card-pagos">
                    <p>Profe: {{ object.usuario }}</p>
                    <p>Mes: {{ object.mes }}</p>
                    <p>Horas: {{ object.horas }}</p>
                    <a href="{% url 'horas:horas_update' object.id %}">Editar</a>
                    <a href="{% url 'horas:horas_detail' object.id %}">Detalles</a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}