{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Editar horas
    {% else %}
        Cargar horas
    {% endif %}
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        {% if form.instance.pk %}
            <h1 class="titulo">Editar horas</h1>
        {% else %}
            <h1 class="titulo">Cargar horas</h1>
        {% endif %}
        <div class="form-login-container">
            <form method="post" enctype="multipart/form-data" class="form-login">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="link">Guardar</button>
            </form>
        </div>
        <div class="volver-container">
            <a href="{% url 'horas:horas_list' %}" class="volver">Volver</a>
        </div>
    </main>
{% endblock content %}