{% extends 'core/base.html' %}

{% block title %}
    Contacto
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <h1 class="titulo">Contacto</h1>
        <div class="contacto-container">
            <div class="email-container">
                <h2>Email</h2>
                <p>espaciokinef@gmail.com</p>
            </div>
            <div class="telefono-container">
                <h2>Telefono</h2>
                <p>-</p>
            </div>
        </div>
    </main>
{% endblock content %}