{% extends 'core/base.html' %}

{% block title %}
    Espacio Kinef
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <h1 class="titulo">Espacio Kinef</h1>
        <div>
            <p class="texto-bienvenida">Bienvenid@, tenemos muchas propuestas para vos.</p>
        </div>
        <div class="gimnasio-container">
            <div class="visitanos">
                <h2>¡Visitanos!</h2>
            </div>
            <div class="mapa-container">
                <h2>Ubicación</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d425.6747001755354!2d-64.17137728927787!3d-31.403169771882002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943299c584309e6d%3A0xdfaf861400a5b700!2zRVNQQUNJTyBraW5lZiDigJMg6pyx4bSAyp_htJzhtIUg4bSHybQg4bSN4bSP4bSgyarhtI3JquG0h8m04bSb4bSP!5e0!3m2!1ses!2sar!4v1723154986160!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
            </div>
        </div>
    </main>
{% endblock content %}