{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}
        Editar pago
    {% else %}
        Cargar pago
    {% endif %}
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        {% if form.instance.pk %}
            <h1>Editar pago</h1>
        {% else %}
            <h1>Cargar pago</h1>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Guardar</button>
        </form>
        <div>
            <a href="{% url 'pagos:pagos_list' %}">Volver</a>
        </div>
    </main>
{% endblock content %}